<div layout="column" layout-padding ng-cloak>

    <md-list>
        <md-subheader class="md-no-sticky">Configured sensors</md-subheader>

        <!-- no item -->
        <md-list-item ng-if="(sensorsCtl.devices | filterDeviceByService:'sensors').length===0">
            <p>
                No sensor configured, click on
                <md-button class="md-fab md-mini md-accent default-cursor" aria-label="Add sensor">
                    <md-icon md-svg-icon="plus"></md-icon>
                </md-button>
                button below.
            </p>
        </md-list-item>

        <!-- item list -->
        <md-list-item ng-repeat="device in sensorsCtl.devices | filterDeviceByService:'sensors'" class="md-2-line">

            <!-- icon -->
            <md-icon md-svg-icon="thermometer" class="icon-md" ng-if="device.type==='temperature'">
                <md-tooltip>Temperature sensor</md-tooltip>
            </md-icon>
            <md-icon md-svg-icon="motion-sensor" class="icon-md" ng-if="device.type==='motion'">
                <md-tooltip>Motion sensor</md-tooltip>
            </md-icon>
            <md-icon md-svg-icon="water-percent" class="icon-md" ng-if="device.type==='humidity'">
                <md-tooltip>Humidity sensor</md-tooltip>
            </md-icon>

            <!-- general infos -->
            <div class="md-list-item-text">
                <h3>{{device.name}}</h3>
                <p>
                    Gpios:{{device.gpios | displayGpios}} - 
                    Last update:{{device.lastupdate | hrDatetime}}
                </p>
            </div>

            <!-- motion sensor -->
            <div class="md-secondary md-secondary-rpadding" ng-if="device.type==='motion'">
                <p>Last duration: {{device.lastduration | number:0}} secs</p>
            </div>
            <div class="md-secondary md-secondary-rpadding" ng-if="device.type==='motion'">
                <md-button ng-if="!device.on" class="md-icon-button md-primary default-cursor" md-no-ink aria-label="Off">
                    <md-icon md-svg-icon="circle"></md-icon>
                </md-button>
                <md-button ng-if="device.on" class="md-icon-button md-accent default-cursor" md-no-ink aria-label="On">
                    <md-icon md-svg-icon="circle"></md-icon>
                </md-button>
                <span ng-if="device.on">On</span>
                <span ng-if="!device.on">Off</span>
            </div>

            <!-- temperature sensor -->
            <div class="md-secondary md-secondary-rpadding" ng-if="device.type==='temperature'">
                <p ng-if="device.offsetunit==='celsius'" class="margin-v-5px">Offset: {{device.offsetcelsius}}°C</p>
                <p ng-if="device.offsetunit==='fahrenheit'" class="margin-v-5px">Offset: {{device.offsetfahrenheit}}°F</p>
                <p class="margin-v-5px">Interval: {{device.interval/60}} mins</p>
            </div>
            <div class="md-secondary md-secondary-rpadding" ng-if="device.type==='temperature'">
                <span ng-if="device.offsetunit==='celsius'">{{device.celsius ? device.celsius : '?'}}°C</span>
                <span ng-if="device.offsetunit==='fahrenheit'">{{device.fahrenheit ? device.fahrenheit : '?'}}°F</span>
            </div>

            <!-- humidity sensor -->
            <div class="md-secondary md-secondary-rpadding" ng-if="device.type==='humidity'">
                <span>{{device.humidity ? device.humidity : '?'}}%</span>
            </div>

            <!-- actions -->
            <md-menu class="md-secondary">
                <md-button class="md-icon-button">
                    <md-icon md-svg-icon="dots-vertical"></md-icon>
                </md-button>
                <md-menu-content width="3">
                    <md-menu-item>
                        <md-button ng-click="sensorsCtl.openUpdateDialog(device)" aria-label="Edit">
                            <md-icon md-svg-icon="pencil"></md-icon>
                            Edit sensor
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="sensorsCtl.openDeleteDialog(device)" aria-label="Delete">
                            <md-icon md-svg-icon="delete"></md-icon>
                            Delete sensor
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>

        </md-list-item>
    </md-list>

</div>

